@media only screen and (max-width: 768px) {
  .race-bar-chart-class{
    width:95%;
    height: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .race-bar-chart-class{
    width:60%;
    height: 60%;
  }
}